doctype html
head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Forgot Password Email
table.body(border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;')
  tr
    td.container(style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 600px; width: 600px;')
      .content(style='box-sizing: border-box; display: block; Margin: 0 auto; max-width: 600px;')
        // START CENTERED WHITE CONTAINER
        span.preheader(style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') This is preheader text. Some clients will show this text as a preview
        table.main(style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #f0f8fc; border-radius: 3px; border-spacing: 0;')
          // START MAIN CONTENT AREA
          tr
            td.wrapper(style='border-top:4px solid #5524A6; font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;background-repeat: no-repeat; background-position: right 40px;')
              table(border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;')
                tr
                  td(style='font-family: sans-serif; font-size: 14px; vertical-align: top;')
                    p(style='font-family: sans-serif; font-size: 18px; font-weight: normal; margin: 0; Margin-bottom: 30px; margin-top: 80px; color: #363636;')
                      | Hello
                      b  #{username},
                    p(style='font-family: sans-serif; font-size: 16px; font-weight: normal; margin: 0; Margin-bottom: 30px; color: #666;')
                      | You recently requested to reset your password for your #{appName} account. Click on below button to reset.
                    a(href=`${link}` style='display: block; width: 161px;\
                    height: 33px; background: rgb(77,184,72);\
                    padding-top: 11px; text-align: center;\
                    border-radius: 5px; color: white; font-size: 16px;\
                    text-decoration: none;') Reset Password
                    p(style='font-family: sans-serif; font-size: 16px; font-weight: normal; margin: 0; Margin-bottom: 15px; margin-top: 35px; color: #666;') Thank you for being a part of #{appName}

