style(type='text/css').
  .tg  {border-collapse:collapse;border-color:#aabcfe;border-spacing:0;}
  .tg td{background-color:#e8edff;border-color:#aabcfe;border-style:solid;border-width:1px;color:#669;
    font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{background-color:#b9c9fe;border-color:#aabcfe;border-style:solid;border-width:1px;color:#039;
    font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-hmp3{background-color:#D2E4FC;text-align:left;vertical-align:top}
  .tg .tg-baqh{text-align:center;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
table.tg
  thead
    tr
  tbody
    tr
      tr
        td.tg-0lax station_name
        td.tg-0lax #{StationName}
      tr
        td.tg-0lax station_city
        td.tg-0lax #{StationCity}
    tr
      td.tg-0lax first_name
      td.tg-0lax #{first_name}
    tr
      td.tg-hmp3 last_name
      td.tg-hmp3 #{last_name}
    tr
      td.tg-0lax email
      td.tg-0lax #{email}
    tr
      td.tg-hmp3 mobile
      td.tg-hmp3 #{mobile}
    tr
      td.tg-0lax country_code
      td.tg-0lax #{country_code}
    tr
      td.tg-hmp3 company
      td.tg-hmp3 #{company}
    tr
      td.tg-0lax start_date
      td.tg-0lax #{start_date}
    tr
      td.tg-hmp3 user_id
      td.tg-hmp3 #{user_id}

